{% extends "base.html" %}
{% load static %}

{% block head %}

<script type="text/javascript" src="{% static 'js/lib/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/scheduler.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/scheduler_readonly.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/ui-bootstrap-tpls.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/services.js' %}"></script>
<script type="text/javascript" src="{% static 'js/planner.js' %}"></script>

<link type="text/css" media="screen" rel="stylesheet" href="{% static 'css/lib/scheduler.css' %}" />
<style type="text/css">

.showButtons {
    margin-bottom: 20px;
}

.dhx_scale_holder_now {
    background-image: url({% static 'img/scheduler/databg.png' %});
}

.dhx_cal_navline {
    display: none;
}

.dhx_cal_data {
    top: 36px !important;
}

.dhx_cal_header {
    height: 35px !important;
    top: 0px !important;
}

</style>

{% endblock %}

{% block content %}
<div ng-app='plannerApp' ng-controller='plannerController'>
    <div class="container btn-group showButtons">
        <button ng-repeat="course in courses" class="btn"
                ng-click="toggle(course)"
                ng-class="{'btn-success':showMap[course.crn], 'btn-danger':!showMap[course.crn]}">
            {$ course.course_id $}
        </button>
    </div>
    <div id="scheduler" class="dhx_cal_container" style='width:100%; height:700px;'>
        <div class="dhx_cal_navline">
            <div class="dhx_cal_date"></div>
        </div>
        <div class="dhx_cal_header"></div>
        <div class="dhx_cal_data"></div>       
    </div>
</div>

{% endblock %}