{% extends "base.html" %}
{% load static %}

{% block head %}

<script type="text/javascript" src="{% static 'js/lib/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/scheduler.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/scheduler_readonly.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/ui-bootstrap-tpls.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/services.js' %}"></script>
<script type="text/javascript" src="{% static 'js/planner.js' %}"></script>

<link type="text/css" media="screen" rel="stylesheet" href="{% static 'css/lib/scheduler.css' %}" />
<style type="text/css">

.dhx_scale_holder_now {
    background-image: url({% static 'img/scheduler/databg.png' %});
}

</style>

{% endblock %}

{% block content %}
<div ng-app='plannerApp' ng-controller='plannerController'>
    <div id="scheduler" class="dhx_cal_container" style='width:100%; height:700px;'>
        <div class="dhx_cal_navline" style="display: none;">
            <div class="dhx_cal_date"></div>
        </div>
        <div class="dhx_cal_header"></div>
        <div class="dhx_cal_data"></div>       
    </div>
</div>

{% endblock %}