extends base
- load static
- load render_bundle from webpack_loader

block head
    link(type='text/css', rel='stylesheet',
         href="{% static 'css/courseDetail.css' %}")
    link(type='text/css', rel='stylesheet', href="{% static 'css/me.css' %}")
    link(type='text/css', rel='stylesheet',
         href="{% static 'css/planner.css' %}")

block content
    #meContent
    
    {% render_bundle 'me' %}
