extends base
- load static

block head
    link(type='text/css' rel='stylesheet'
         href="{% static 'lib/fullcalendar/dist/fullcalendar.css' %}")
    link(type='text/css' rel='stylesheet'
         href="{% static 'css/courseDetail.css' %}")
    link(type='text/css' rel='stylesheet'
         href="{% static 'css/me.css' %}")

block content
    #meContent

    script(type='text/javascript', src="{% static 'lib/requirejs/require.js' %}")
    script(type='text/javascript', src="{% static 'js/requireConfig.js' %}")
    script(type='text/javascript').
        require(['react', 'me/me'], function (React, Me) {
            React.initializeTouchEvents(true);
            React.render(
                React.createElement(Me),
                document.getElementById('meContent')
            );
        });
