<style type="text/css">
.close-btn:hover {
    cursor: pointer;
}

.chart {
    margin: 20px 0;
}

.comment {
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.comment:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.comment-text {
    margin-bottom: 0px;
}

.comment-date {
    color: #ccc;
    text-align: right;
}
</style>

<div class="modal-body">

<a ng-click="close()" class="close-btn pull-right">
    <span class="glyphicon glyphicon-remove"></span>
</a>

<ul class="nav nav-tabs">
    <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
    <li><a href="#course-eval" data-toggle="tab">Course Evaluation</a></li>
    <li><a href="#course-comments" data-toggle="tab">Course Comments</a></li>
    <li><a href="#instr-eval" data-toggle="tab">Instructor Evaluation</a></li>
    <li><a href="#instr-comments" data-toggle="tab">Instructor Comments</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">

<div class="tab-pane active" id="info">
    <h3>{$ course.course_id $} - {$ course.title $}<br/><small>{$ course.instructor $}</small></h3>
    <p><strong>Credits:</strong> {$ course.credits $}</p>
    <p><strong>Meetings:</strong> {$ course.meeting $} </p>
    <p><strong>Location:</strong> {$ course.location $}</p>
    <p><strong>Enrollment:</strong> {$ course.enrollment $}/{$ course.max_enrollment $}</p>
    <p>{$ course.description $}</p>
</div>

<div class="tab-pane" id="course-eval">
    <div class="btn-group" data-toggle="buttons" style="float: right; clear:left;">
        <label class="btn btn-primary" ng-class="{'active': plotType=='pie'}" ng-click="plotType='pie'">
            <input type="radio" name="plotType" ng-checked="plotType=='pie'">Pie
        </label>
        <label class="btn btn-primary" ng-class="{'active': plotType=='column'}" ng-click="plotType='column'">
            <input type="radio" name="plotType" ng-checked="plotType=='column'">Column
        </label>
    </div>
</div>
<div class="tab-pane" id="course-comments">
    <div class="comment" ng-repeat="comment in courseComments">
        <p class="comment-text">{$ comment.text $}</p>
        <p class="comment-date">{$ comment.date $}</p>
    </div>
</div>
<div class="tab-pane" id="instr-eval">
    <div class="btn-group" data-toggle="buttons" style="float: right; clear:left;">
        <label class="btn btn-primary" ng-class="{'active': plotType=='pie'}" ng-click="plotType='pie'">
            <input type="radio" name="plotType" ng-checked="plotType=='pie'">Pie
        </label>
        <label class="btn btn-primary" ng-class="{'active': plotType=='column'}" ng-click="plotType='column'">
            <input type="radio" name="plotType" ng-checked="plotType=='column'">Column
        </label>
    </div>
</div>
<div class="tab-pane" id="instr-comments">
    <div class="comment" ng-repeat="comment in instructorComments">
        <p class="comment-text">{$ comment.text $}</p>
        <p class="comment-date">{$ comment.date $}</p>
    </div>
</div>

</div>

</div>