extends base
- load static
- load render_bundle from webpack_loader

block head
    link(type='text/css' rel='stylesheet'
         href="{% static 'css/courseDetail.css' %}")
    link(type='text/css', rel='stylesheet',
         href="{% static 'css/courses.css' %}")
    link(type='text/css', rel='stylesheet',
         href="{% static 'css/filterWidget.css' %}")

block content
    #courseList
    
    {% render_bundle 'courses' %}
