extends base
- load static

block head
    link(type='text/css' rel='stylesheet'
         href="{% static 'css/courseDetail.css' %}")
    link(type='text/css', rel='stylesheet',
         href="{% static 'css/courses.css' %}")
    link(type='text/css', rel='stylesheet',
         href="{% static 'css/filterWidget.css' %}")

block content
    #courseList

    script(type='text/javascript', src="{% static 'lib/requirejs/require.js' %}")
    script(type='text/javascript', src="{% static 'js/requireConfig.js' %}")
    script(type='text/javascript').
        require(['react', 'courses/courses'], function (React, Courses) {
            React.initializeTouchEvents(true);
            React.render(
                React.createElement(Courses),
                document.getElementById('courseList')
            );
        });
