.login-container {
    float: right;
    padding: 20px;
    text-align: center;
}

.header {
    text-align: center;
}

.login-container {
    position: absolute;
    top: 0;
    left: 0;
}

.help-button {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2em;
    display: none;
}

.main-nav {
    text-align: center;
}

.enroll-warning {
    background-color: rgba(255, 153, 0, 0.4);
}

.enroll-full {
    background-color: rgba(255, 0, 0, 0.4);
}
