/* FILTER BUTTONS */
.course-filters {
  margin-bottom: 10px;
}

.btn-filter {
  color: #fff;
  margin-right: 5px;
}

.btn-filter:hover {
  color: #fff;
}

/* COURSE LIST */
.course-table td {
  cursor: pointer;
}

.course-table th:hover {
  text-decoration: underline;
}

.course-table th {
  cursor: pointer;
}

.course-table th.reactable-header-sort-desc:after {
  content: '\25B2';
  font-size: 0.8em;
  padding-left: 5px;
  padding-bottom: 5px;
}

.course-table th.reactable-header-sort-asc:after {
  content: '\25BC';
  font-size: 0.8em;
  padding-left: 5px;
  padding-bottom: 5px;
}

.course-pagination {
  margin-bottom: 20px;
  text-align: center;
}

.course-page-button {
  border-bottom: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-top: 1px solid #aaa;
  color: #000;
  cursor: pointer;
  display: inline-block;
  padding: 5px 0;
  text-align: center;
  width: 25px;
}

.course-page-button:first-child {
  border-left: 1px solid #aaa;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.course-page-button:last-child {
  border-right: 1px solid #aaa;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.course-page-button:hover {
  text-decoration: none;
  color: #333;
  background-color: #ddd;
}

.course-current-page {
  background-color: #ddd;
  cursor: default;
}

.not-user-course {
  color: #000;
}

.user-course,
.not-user-course:hover {
  color: #f00;
}
