.course-modal-dialog .modal-header, .course-modal-dialog .modal-header small {
  background-color: #337ab7;
  color: #fff;
}

.course-modal-dialog .tab-pane {
  padding-top: 20px;
}

.plot-toggle-btns {
  float: right;
  clear: left;
}

.evaluation-chart .highcharts-container {
  margin: 0 auto;
}

.comment {
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.comment:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.comment-date {
  color: #ccc;
  text-align: right;
}
