$filters-width: 200px;

.courses-container {
    position: relative;

    &.filters-open {
        padding-right: $filters-width;
    }
}

.faded {
    opacity: 0.5;
}

.course-table {
    td {
        cursor: pointer;
    }

    th {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    .sort-asc:after {
        content: '\25B2';
        font-size: 0.8em;
        padding-left: 5px;
        padding-bottom: 5px;
    }

    .sort-desc:after {
        content: '\25BC';
        font-size: 0.8em;
        padding-left: 5px;
        padding-bottom: 5px;
    }

    .schedule-band {
        width: 3px;
        height: 100%;
        display: inline-block;
    }
}

.filters-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: $filters-width;
    margin-right: -$filters-width - 20px;

    &.open {
        right: $filters-width;
    }
}
