/* FILTER BUTTONS */
.course-filters {
  margin-bottom: 10px;
}

.btn-filter {
  color: #fff;
  margin-right: 5px;
}

.btn-filter:hover {
  color: #fff;
}

/* COURSE LIST */
.course-table td:hover {
  cursor: pointer;
}

.course-table th:hover {
  cursor: pointer;
  text-decoration: underline;
}

.course-table th {
  cursor: pointer;
}

.course-table th.reactable-header-sort-desc:after {
  content: '\25B2';
  font-size: 0.8em;
  padding-left: 5px;
  padding-bottom: 5px;
}

.course-table th.reactable-header-sort-asc:after {
  content: '\25BC';
  font-size: 0.8em;
  padding-left: 5px;
  padding-bottom: 5px;
}

.reactable-pagination {
  text-align: center;
}

.reactable-pagination tr:hover {
  background-color: transparent !important;
}

.reactable-page-button {
  padding: 5px 7px;
  width: 30px;
  cursor: pointer;
  color: #000;
  border-left: 1px solid #aaa;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  text-align: center;
}

.reactable-page-button:first-child {
  border-left: 1px solid #aaa;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.reactable-page-button:last-child {
  border-right: 1px solid #aaa;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.reactable-page-button:hover {
  text-decoration: none;
  color: #333;
  background-color: #ddd;
}

.reactable-current-page {
  background-color: #ddd;
  cursor: default;
}

.not-user-course {
  color: #000;
}

.user-course,
.not-user-course:hover {
  color: #f00;
}

/* COURSE DETAIL */
.course-modal-dialog .modal-header, .course-modal-dialog .modal-header small {
  background-color: #337ab7;
  color: #fff;
}

.course-modal-dialog .tab-pane {
  padding-top: 20px;
}

.plot-toggle-btns {
  float: right;
  clear: left;
}

.chart {
  margin: 20px 0;
}

.comment {
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.comment:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.comment-text {
  margin-bottom: 0px;
}

.comment-date {
  color: #ccc;
  text-align: right;
}
