.course-filters {
  margin-bottom: 10px;
}

.btn-filter {
  color: #fff;
  margin-right: 5px;
}

.btn-filter:hover {
  color: #fff;
}

.course-entry td:hover {
  cursor: pointer;
}

.course-header th:hover {
  cursor: pointer;
  text-decoration: underline;
}

.not-user-course a {
  color: #f00;
}

.user-course a,
.not-user-course a:hover {
  color: #000;
}
