.filter-widget {
  border: 1px solid #ccc;
  font-size: 1em;
}

.filter-widget:hover {
  cursor: text;
}

.filter-input {
  border: 0;
  display: inline-block;
  height: 100%;
  padding: 10px 5px;
}

.filter-input:focus {
  outline: none;
}

.filter-view {
  border: 1px solid #ccc;
  border-radius: 3px;
  display: inline-block;
  margin: 0 3px;
  padding: 3px 5px;
}

.filter-view-name {
  border-right: 1px solid #ccc;
  padding-right: 5px;
}

.filter-view-input {
  border: 0;
}

.filter-view-input:focus {
  outline: 0;
}

.filter-view a:hover {
  cursor: pointer;
}
