.filter-widget {
  border: 1px solid #ccc;
  font-size: 1em;
}

.filter-widget:hover {
  cursor: text;
}

.filter-input {
  border: 0;
  display: inline-block;
  height: 100%;
  padding: 10px 5px;
}

.filter-input:focus {
  outline: none;
}

.filter-suggestions {
  background: #fff;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-top: 4px;
  max-height: 400px;
  overflow: scroll;
  position: absolute;
  width: 100px;
  z-index: 10;
}

.filter-suggestions ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.filter-suggestions li a {
  display: block;
  padding: 10px 5px;
}

.filter-suggestions a:hover, .filter-suggestions a:focus {
  background: rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.filter-view {
  border: 1px solid #ccc;
  border-radius: 3px;
  display: inline-block;
  margin: 0 3px;
  padding: 3px 5px;
}

.filter-view-name {
  border-right: 1px solid #ccc;
  padding-right: 5px;
}

.filter-view-input {
  border: 0;
}

.filter-view-input:focus {
  outline: 0;
}

.filter-view a:hover {
  cursor: pointer;
}
