body {
    padding-top: 70px;
}

.navbar-brand.logo {
    padding: 5px 10px;
}

.top-links {
    .glyphicon {
        margin-right: 4px;
    }
}

.nav-username {
    color: #000;
}

.content {
    padding: 0 15px;
}

.help-button {
    display: none;
    font-size: 2em;
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 100;
}

.enroll-warning {
    background-color: rgba(255, 153, 0, .4);
}

.enroll-full {
    background-color: rgba(255, 0, 0, .4);
}

.alert-container {
    left: 0;
    padding-top: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.term-dropdown .dropdown-menu {
    max-height: 400px;
    overflow: scroll;
}
