.remove-btn {
    color: #F5402C;
}

.remove-btn:hover {
    color: #DB3927;
}

.toggle-btn-show {
    color: #74C279;
}

.toggle-btn-show:hover {
    color: #63A668;
}

.toggle-btn-hide {
    color: #FFB029;
}

.toggle-btn-hide:hover {
    color: #E09B24;
}

.course-entry td:hover {
    cursor: pointer;
}

.scheduler-tab {
    cursor: pointer;
}