.remove-btn {
  color: #f5402c;
}

.remove-btn:hover {
  color: #db3927;
}

.toggle-btn-show {
  color: #74c279;
}

.toggle-btn-show:hover {
  color: #63a668;
}

.toggle-btn-hide {
  color: #ffb029;
}

.toggle-btn-hide:hover {
  color: #e09b24;
}

.course-table td:hover {
  cursor: pointer;
}
