$remove-btn-color: #f5402c;
.remove-btn {
    color: $remove-btn-color;

    &:hover {
      color: darken($remove-btn-color, 4%);
    }
}

$toggle-btn-show-color: #74c279;
.toggle-btn-show {
    color: $toggle-btn-show-color;

    &:hover {
      color: darken($toggle-btn-show-color, 4%);
    }
}

$toggle-btn-hide-color: #ffb029;
.toggle-btn-hide {
    color: $toggle-btn-hide-color;

    &:hover {
      color: darken($toggle-btn-hide-color, 4%);
    }
}

.course-table td {
    cursor: pointer;
}

.course-credits {
    text-align: right;

    & > div {
      display: inline-block;
      margin-right: 20px;
      text-align: center;
    }
}

.schedule-tabs {
    border-bottom: none;
    margin-bottom: 1px;

    a:hover {
      cursor: pointer;
    }
}

$schedule-close-color: #bc2328;
.schedule-close {
    color: $schedule-close-color;
    cursor: pointer;
    margin: 0 -5px 0 5px;

    &:hover {
      color: darken($schedule-close-color, 4%);
    }
}

.conflict-choice {
    margin-bottom: 5px;
}

$clear-btn-color: #cd2329;
.clear-btn {
    color: $clear-btn-color;
    cursor: pointer;
    font-size: 1.5em;
    margin-left: 10px;
    margin-top: -3px;
    vertical-align: middle;

    &:hover, &:focus {
      color: darken($clear-btn-color, 4%);
      text-decoration: none;
    }
}

.course-event-muted {
    border: none !important;
}

.course-event-alternate {
    background-color: rgba(19, 100, 0, 0.7);
}

.crn-copy {
    cursor: pointer;
}
