<div class="modal-body">

<a ng-click="close()" class="close-btn pull-right">
    <span class="glyphicon glyphicon-remove"></span>
</a>

<ul class="nav nav-tabs">
    <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
    <li><a href="#course-eval" data-toggle="tab">Course Evaluation</a></li>
    <li><a href="#course-comments" data-toggle="tab">Course Comments</a></li>
    <li><a href="#instr-eval" data-toggle="tab">Instructor Evaluation</a></li>
    <li><a href="#instr-comments" data-toggle="tab">Instructor Comments</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">

<div class="tab-pane active" id="info">
    <h3>{$ course.course_id $} - {$ course.title $}<br/><small>{$ course.instructor $}</small></h3>
    <p><strong>Credits:</strong> {$ course.credits $}</p>
    <p><strong>Meetings:</strong> {$ course.meeting $} </p>
    <p><strong>Location:</strong> {$ course.location $}</p>
    <p><strong>Enrollment:</strong> {$ course.enrollment $}/{$ course.max_enrollment $}</p>
    <p><strong>Waitlist:</strong> {$ course.waitlist $}/{$ course.max_waitlist $}</p>
    <p ng-if="course.prerequisites.length > 0"><strong>Prerequisites:</strong> {$ course.prerequisites $}</p>
    <p ng-if="course.corequisites.length > 0"><strong>Corequisites:</strong> {$ course.corequisites $}</p>
    <p ng-if="course.restrictions.length > 0"><strong>Restrictions:</strong> {$ course.restrictions $}</p>
    <p>{$ course.description $}</p>
</div>

<div class="tab-pane" id="course-eval">
    <div ng-if="courseEvalLoading"><p class="tab-msg">Loading...</p></div>
    <div ng-if="courseEvalCount > 0" class="btn-group plot-toggle-btns">
        <button class="btn btn-primary" ng-class="{ 'active': option.val == plotType }"
                ng-repeat="option in plotOptions" ng-click="setPlotType(option.val)">
                {$ option.name $}
        </button>
    </div>
    <div ng-if="!courseEvalLoading && courseEvalCount == 0">
        <p class="tab-msg">No course evaluations found.</p>
    </div>
</div>
<div class="tab-pane" id="course-comments">
    <div ng-if="courseEvalLoading"><p class="tab-msg">Loading...</p></div>
    <div ng-if="!courseEvalLoading && courseComments.length == 0">
        <p class="tab-msg">No course comments found.</p>
    </div>
    <div class="comment" ng-repeat="comment in courseComments">
        <p class="comment-text">{$ comment.text $}</p>
        <p class="comment-date">{$ comment.date $}</p>
    </div>
</div>
<div class="tab-pane" id="instr-eval">
    <div ng-if="instructorEvalLoading"><p class="tab-msg">Loading...</p></div>
    <div ng-if="instructorEvalCount > 0" class="btn-group plot-toggle-btns">
        <button class="btn btn-primary" ng-class="{ 'active': option.val == plotType }"
                ng-repeat="option in plotOptions" ng-click="setPlotType(option.val)">
                {$ option.name $}
        </button>
    </div>
    <div ng-if="!instructorEvalLoading && instructorEvalCount == 0">
        <p class="tab-msg">No instructor evaluations found.</p>
    </div>
</div>
<div class="tab-pane" id="instr-comments">
    <div ng-if="instructorEvalLoading"><p class="tab-msg">Loading...</p></div>
    <div ng-if="!instructorEvalLoading && instructorComments.length == 0">
        <p class="tab-msg">No instructor comments found.</p>
    </div>
    <div class="comment" ng-repeat="comment in instructorComments">
        <p class="comment-text">{$ comment.text $}</p>
        <p class="comment-date">{$ comment.date $}</p>
    </div>
</div>

</div>

</div>