{% extends "base.html" %}
{% load static %}

{% block head %}
    <script type="text/javascript" src="{% static 'js/angular.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dirPagination.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/courses.js' %}"></script>

    <link type="text/css" rel="stylesheet" href="{% static 'css/courses.css' %}" />
{% endblock %}

{% block content %}
    <div class="courseList" ng-app="coursesApp" ng-controller="CoursesController">
        <div class="course-filters">
            <h4>Filters:
            <button class="btn btn-crn" ng-click="addFilterField('CRN')">CRN</button>
            <button class="btn btn-courseid" ng-click="addFilterField('Course ID')">Course ID</button>
            <button class="btn btn-title" ng-click="addFilterField('Title')">Title</button>
            <button class="btn btn-instructor" ng-click="addFilterField('Instructor')">Instructor</button>
            <button class="btn btn-meetings" ng-click="addFilterField('Meetings')">Meetings</button>
            <button class="btn btn-credits" ng-click="addFilterField('Credits')">Credits</button>
            </h4>
            <input class="form-control" id="courseFilterInput" ng-model="rawCourseFilter" ng-change="updateCoursesForFilter()" placeholder="Filter" />
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr class="course-header">
                        <th ng-click="order('crn')">CRN
                            <span ng-show="orderProp == '-crn'" class="glyphicon glyphicon-chevron-up"></span>
                            <span ng-show="orderProp == 'crn'" class="glyphicon glyphicon-chevron-down"></span>
                        </th>
                        <th ng-click="order('course_id')">Course ID
                            <span ng-show="orderProp == '-course_id'" class="glyphicon glyphicon-chevron-up"></span>
                            <span ng-show="orderProp == 'course_id'" class="glyphicon glyphicon-chevron-down"></span>
                        </th>
                        <th ng-click="order('title')">Title
                            <span ng-show="orderProp == '-title'" class="glyphicon glyphicon-chevron-up"></span>
                            <span ng-show="orderProp == 'title'" class="glyphicon glyphicon-chevron-down"></span>
                        </th>
                        <th ng-click="order('instructor')">Instructor
                            <span ng-show="orderProp == '-instructor'" class="glyphicon glyphicon-chevron-up"></span>
                            <span ng-show="orderProp == 'instructor'" class="glyphicon glyphicon-chevron-down"></span>
                        </th>
                        <th ng-click="order('meeting')">Meetings
                            <span ng-show="orderProp == '-meeting'" class="glyphicon glyphicon-chevron-up"></span>
                            <span ng-show="orderProp == 'meeting'" class="glyphicon glyphicon-chevron-down"></span>
                        </th>
                        <th ng-click="order('credits')">Credits
                            <span ng-show="orderProp == '-credits'" class="glyphicon glyphicon-chevron-up"></span>
                            <span ng-show="orderProp == 'credits'" class="glyphicon glyphicon-chevron-down"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="loadingCourses"><td>Loading courses...</td></tr>
                    <tr ng-show="filteredCourses.length == 0 && !loadingCourses"><td>No courses found</td></tr>
                    <tr dir-paginate="course in filteredCourses | itemsPerPage: {{ items_per_page }} | orderBy: orderProp" class="course-entry" ng-click="detail(course.crn)">
                        <td>{$ course.crn $}</td>
                        <td>{$ course.course_id $}</td>
                        <td>{$ course.title $}</td>
                        <td>{$ course.instructor $}</td>
                        <td>{$ course.meeting $}</td>
                        <td>{$ course.credits $}</td>
                    </tr>
                </tbody>
            </table>

            <div class="text-center">
                <dir-pagination-controls boundary-links="true" template-url="{% static 'partials/dirPagination.tpl.html' %}"></dir-pagination-controls>
            </div>
        </div>
    </div>
{% endblock %}