{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Rice Course Manager</title>

        <link type="text/css" rel="stylesheet" href="{% static 'css/lib/bootstrap.min.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'css/lib/tutorialize.min.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}" />

        <script type="text/javascript" src="{% static 'js/lib/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/tutorialize.min.js' %}"></script>

        {% if tutorial %}
        <script type="text/javascript">
            $(function() {
                var tutorial;
                $.ajax({
                    url: '{% url "tutorial" %}',
                    method: 'POST',
                    data: {
                        tutorial: '{{ tutorial }}'
                    },
                    dataType: 'json'
                }).done(function(data) {
                    tutorial = $.tutorialize(data);

                    window.startTutorial = function() {
                        if (tutorial && tutorial.tutorial &&
                            tutorial.tutorial.length > 0)
                            tutorial.start();
                    };

                    $('.help-button').show();
                });
            });
        </script>
        {% endif %}

        {% block head %}
        {% endblock %}
    </head>
    <body {% block bodyattrs %}{% endblock %}>
        <div class="container-fluid header">
            <a href="{% url 'index' %}">
                <img src="{% static 'img/logo.png' %}" height="200px" />
            </a>
            <br/>
            <p>
            {% if user.is_authenticated %}
            
                Signed in as: <strong>{{ user.username }}</strong><br/>
                (<a href="/logout/">Sign out</a>)
            
            {% else %}
                Not signed in<br/>
                (<a href="/login/">Sign in</a>)
            
            {% endif %}
            </p>

            <div class="help-button">
                <a href="#" onclick="startTutorial()">
                    <span class="glyphicon glyphicon-question-sign"></span>
                </a>
            </div>
        </div>

        {% if nav_active %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-2 main-nav">
                        <ul class="nav nav-pills nav-stacked">
                            <li {% if nav_active == 'courses' %}class="active"{% endif %}>
                                <a href="{% url 'courses' %}">
                                    <span class="glyphicon glyphicon-list"></span> Courses
                                </a>
                            </li>
                            <li {% if nav_active == 'me' %}class="active"{% endif %}>
                                <a href="{% url 'me' %}">
                                    <span class="glyphicon glyphicon-user"></span> Me
                                </a>
                            </li>
                            <li {% if nav_active == 'help' %}class="active"{% endif %}>
                                <a href="{% url 'help' %}">
                                    <span class="glyphicon glyphicon-question-sign"></span> Help
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-10">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        
        {% else %}

            <div class="container">
                {% block no-nav-content %}
                {% endblock %}
            </div>

        {% endif %}
    </body>
</html>