{% extends "base.html" %}
{% load static %}

{% block head %}

<link type="text/css" media="screen" rel="stylesheet" href="{% static 'css/lib/scheduler.css' %}"/>
<link type="text/css" media="screen" rel="stylesheet" href="{% static 'css/me.css' %}"/>

<script type="text/javascript" src="{% static 'js/lib/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/ui-bootstrap-tpls.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/scheduler.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/scheduler_readonly.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/bootstrap-contextmenu.js' %}"></script>
<script type="text/javascript" src="{% static 'js/services.js' %}"></script>
<script type="text/javascript" src="{% static 'js/me.js' %}"></script>

{% endblock %}

{% block content %}
<div ng-app="meApp" ng-controller="meController">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>CRN (<a href="{% url 'me_export' %}" target="_blank">Export</a>)</th>
                    <th>Course ID</th>
                    <th>Title</th>
                    <th>Instructor</th>
                    <th>Meetings</th>
                    <th>Distribution</th>
                    <th>Enrollment</th>
                    <th>Credits</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="course in courses | orderBy:'course_id'" class="course-entry">
                    <td ng-click="toggle(course)"
                        ng-class="{'toggle-btn-show':showMap[course.crn], 'toggle-btn-hide':!showMap[course.crn]}">
                       <span class="glyphicon" ng-class="{'glyphicon-eye-open':showMap[course.crn], 'glyphicon-eye-close':!showMap[course.crn]}"></span>
                    </td>
                    <td ng-click="courseDetail(course)">{$ course.crn $}</td>
                    <td ng-click="courseDetail(course)">{$ course.course_id $}</td>
                    <td ng-click="courseDetail(course)">{$ course.title $}</td>
                    <td ng-click="courseDetail(course)">{$ course.instructor $}</td>
                    <td ng-click="courseDetail(course)">{$ course.meeting $}</td>
                    <td ng-click="courseDetail(course)">{$ course.distribution $}</td>
                    <td ng-click="courseDetail(course)">
                        <span ng-class="{'enroll-warning': enrollPercent(course) > 50, 'enroll-full': enrollPercent(course) >= 100}">
                            {$ course.enrollment $}/{$ course.max_enrollment $}
                        </span>
                    </td>
                    <td ng-click="courseDetail(course)">{$ course.credits $}</td>
                    <td class="remove-btn" ng-click="removeCourse(course.crn)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-right"><strong>Total Credits<span ng-if="totalCanVary"> (approximate)</span>:</strong></td>
                    <td><strong>{$ totalCredits | number:1 $}</strong></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="event-menu">
        <ul class="dropdown-menu" role="menu">
            <li><a href="#" data-val="alternate"><span class="glyphicon glyphicon-search"></span> Add alternate sections</a></li>
        </ul>
    </div>

    <div id="scheduler" class="dhx_cal_container" style='width:100%; height:700px;'>
        <div class="dhx_cal_navline">
            <div class="dhx_cal_date"></div>
        </div>
        <div class="dhx_cal_header"></div>
        <div class="dhx_cal_data"></div>       
    </div>
</div>
{% endblock %}