<!DOCTYPE html>

{% load static %}
{% load render_bundle from webpack_loader %}

<html>
    <head>
        <title>Rice Course Manager</title>

        <link rel="icon" href="{% static 'img/icon.png' %}" type="image/png">

        {% render_bundle 'base' %}

        <script type="text/javascript">
        window.TUTORIAL_URL = "{% url 'tutorial' %}";
        window.NAV_ITEMS = [{
            url: "{% url 'courses' %}",
            icon: "search",
            text: "Search"
        }, {
            url: "{% url 'me' %}",
            icon: "user",
            text: "My Courses"
        }, {
            url: "{% url 'help' %}",
            icon: "question-sign",
            text: "Help"
        }];
        </script>
        {% render_bundle 'tutorial' %}

        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="helpButton" class="help-button">
            <a href="#" onclick="startTutorial()">
                <span class="glyphicon glyphicon-question-sign"></span>
            </a>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-1 main-nav">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'img/logo_no_text.png' %}" alt="" class="logo">
                    </a>

                    <div class="login-container">
                        {% if user.is_authenticated %}
                            <span>
                                <strong>{{user.username}}</strong><br>
                                (<a href="{% url 'logout' %}">Sign out</a>)
                            </span>
                        {% else %}
                            <a href="{% url 'login' %}">Sign in</a>
                        {% endif %}
                    </div>
                    <ul class="nav nav-pills nav-stacked">
                        <li {% if nav_active == 'courses' %}class="active"{% endif %}>
                            <a href="{% url 'courses' %}">
                                <span class="glyphicon glyphicon-search"></span>
                                <span class="hidden-sm">
                                    <br/>Search
                                </span>
                            </a>
                        </li>
                        <li {% if nav_active == 'me' %}class="active"{% endif %}>
                            <a href="{% url 'me' %}">
                                <span class="glyphicon glyphicon-user"></span>
                                <span class="hidden-sm">
                                    <br/>My Courses
                                </span>
                            </a>
                        </li>
                        <li {% if nav_active == 'help' %}class="active"{% endif %}>
                            <a href="{% url 'help' %}">
                                <span class="glyphicon glyphicon-question-sign"></span>
                                <span class="hidden-sm">
                                    <br/>Help
                                </span>
                            </a>
                        </li>
                </div>
                <div class="col-sm-11">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <h4 class="text-center"><small>&copy; 2016 Brett Patterson</small></h4>
    </body>
</html>
