!!! 5

- load static

html(lang='en')
    head
        title Rice Course Manager

        link(type='image/png', rel='icon', href="{% static 'img/icon.png' %}")

        link(type='text/css', rel='stylesheet',
             href="{% static 'css/lib/bootstrap.min.css' %}")
        link(type='text/css', rel='stylesheet',
             href="{% static 'css/lib/tutorialize.min.css' %}")
        link(type='text/css', rel='stylesheet',
             href="{% static 'css/main.css' %}")

        script(type='text/javascript', src="{% static 'js/lib/jquery.min.js' %}")
        script(type='text/javascript', src="{% static 'js/lib/bootstrap.min.js' %}")
        script(type='text/javascript', src="{% static 'js/lib/tutorialize.min.js' %}")

        script(type='text/javascript').
            $(function() {
                var tutorial;
                $.ajax({
                    url: "{% url 'tutorial' %}",
                    method: 'POST',
                    data: {
                        tutorial: location.pathname
                    },
                    dataType: 'json'
                }).done(function(data) {
                    if (!data.error) {
                        tutorial = $.tutorialize(data);

                        window.startTutorial = function() {
                            if (tutorial && tutorial.tutorial &&
                                tutorial.tutorial.length > 0)
                                tutorial.start();
                        };

                        $('.help-button').show();
                    }
                });
            });

        block head

    body
        .container-fluid.header
            .login-container
                if user.is_authenticated
                    span
                        | Welcome, 
                        strong= user.username
                        br
                        | (
                        a(href='/logout/') Sign out
                        | )
            
                else
                    a(href='/login/') Sign in
            
            a(href="{% url 'index' %}")
                img(src="{% static 'img/logo_beta.png' %}", height='200px')

            .help-button
                a(href='#', onclick='startTutorial()')
                    span.glyphicon.glyphicon-question-sign

        if nav_active
            .container-fluid
                .row
                    .col-lg-2.main-nav
                        ul.nav.nav-pills.nav-stacked
                            li(class=('active' if nav_active == 'courses' else ''))
                                a(href="{% url 'courses' %}")
                                    span.glyphicon.glyphicon-list
                                    |  Courses

                            li(class=('active' if nav_active == 'me' else ''))
                                a(href="{% url 'me' %}")
                                    span.glyphicon.glyphicon-user
                                    |  Me

                            li(class=('active' if nav_active == 'help' else ''))
                                a(href="{% url 'help' %}")
                                    span.glyphicon.glyphicon-question-sign
                                    |  Help

                    .col-lg-10
                        block content
        
        else
            .container
                block no-nav-content
