extends base

- load static

block head
    style(type='text/css')
        .index-nav {
            font-size: 2em;
            margin-top: 3em;
        }

        .index-nav span {
            font-size: 5em;
        }

        .index-nav li a:hover {
            background: none;
        }

block no-nav-content
    .container
        ul.nav.nav-pills.nav-justified.text-center.index-nav
            li
                a(href="{% url 'courses' %}")
                    span.glyphicon.glyphicon-list
                    br
                    | Courses
            li
                a(href="{% url 'me' %}")
                    span.glyphicon.glyphicon-user
                    br
                    | Me
            li
                a(href="{% url 'help' %}")
                    span.glyphicon.glyphicon-question-sign
                    br
                    | Help
